<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="employee1" class="myPackage.Employee">
		<property name="id" value="10" />
		<property name="name" value="Jaeseong Park1" />
	</bean>
	<bean id="employee2" class="myPackage.Employee">
		<constructor-arg value="20" />
		<constructor-arg value="Jaeseong Park2" />
	</bean>
	<bean id="car1" class="myPackage.CarFactory" factory-method="makeCar">
		<constructor-arg value="Sonata" index="0" />
		<constructor-arg value="2010" index="1" />
		<constructor-arg value="Hyundai" index="2" />
	</bean>

	<bean id="car2" class="myPackage.CarFactory" factory-method="makeCar">
		<constructor-arg value="Sonata" index="0" />
		<constructor-arg value="2010" index="1" />
	</bean>
</beans>